<!DOCTYPE html>
<html>
<head>
    <title> New Class </title>
</head>
<body>
    <h1> Create a New Class </h1>
    <form action="/classes" method="POST">
        <label for="title">Class Name</label>
        <input type="text" name="name">
        <input type="submit" value="Create Class">
    </form>
    
    <br>
     <a href = "/classes"> <button> Return to List of All classes </button></a>

</body>
</html>