

<!DOCTYPE html>
<html>
<head>
    <title>About Page </title>
</head>
<body>

<h1> About Our Student Classes </h1>

    <p> This app gives information about students and their classes and their classes and their students and students and classes . <p>

    <div>
        <a href = "/"> <button> Back to home Page</button></a>
    </div>

</body>
</html>

