
<!DOCTYPE html>
<html>
<head>
    <title>Home Page </title>
</head>
<body>

    <h1> Welcome to Our Student Roster </h1>

  
         <a href = "/students"> <button> List of All students </button></a>
 
    

        <a href = "/classes"> <button> List of All Classes </button></a>



        <a href = "/about"> <button> About Us </button></a>
 


</body>
</html>